@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    box-sizing: border-box;
  }
html{
    font-family: 'Lato', sans-serif;
    color: #56576F;
}

body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1200px;
}

header{
    margin: 0px 50px;
    margin-bottom: -10px;
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
}
header li {
    list-style: none;
    margin: 8px;
    text-decoration: none;
}
header li a {
    text-decoration: none;
    font-size: 14px;
}
.full-width-borders {
    background-color: #54546D;
    padding: 155px;
    position: relative;
    margin: 0 -601.5rem;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    margin: -100px;
    justify-content: center;

}
.taxes::before{
    content: url(./images/calculator-icon.svg);
    width: 80%;
    position: absolute;
    overflow: hidden;
    top: 17%;
    left: 46.5%
}
h2{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #56576F;
}
